
<f:layout name="Default" />
		
<f:section name="Title">
    Available tasks for BMD export
</f:section>

<f:section name="Content">

    <ul>
        <li>
            <f:link.action action="outgoingInvoices">
                Ausgangsrechnungen
            </f:link.action>
        </li>
        <li>
            <f:link.action action="incomingInvoices">
                Eingangsrechnungen
            </f:link.action>
        </li>
        <li>
            <f:link.action action="wages">
                Gehälter
            </f:link.action>
        </li>
    </ul>

</f:section>

