
<f:layout name="Default" />
		
<f:section name="Title">
    Available task
</f:section>

<f:section name="Content">

    <ul>
        <!-- TODO: Create "VAT" controller -->
        <li>
            <f:link.action action="vatDeclaration">
                Umsatzsteuer Voranmeldung - PDF für Archiv
            </f:link.action>
        </li>
        <li>
            <f:link.action action="vatDeclarationXml">
                XML für Umsatzsteuer Voranmeldung
            </f:link.action>
        </li>
        <li>
            <f:link.action action="salesListXml">
                XML für Zusammenfassende Meldung
            </f:link.action>
        </li>
        <!-- TODO: Create "invoiceController" -->
        <li>
            <f:link.action action="billCustomer">
                Ausgangsrechnung erfassen
            </f:link.action>
        </li>
        <li>
            <f:link.action controller="Invoice" action="newIncoming">
                Eingangsrechnung erfassen
            </f:link.action>
        </li>
        <li>
            <f:link.action controller="Invoice" action="newReceipt">
                Kassabons erfassen
            </f:link.action>
        </li>
        <li>
            <f:link.action controller="BmdExport" action="index">
                BMD Daten Export 
            </f:link.action>
        </li>
    </ul>

</f:section>

